body {
    font-family: 'Arial', Helvetica, 'Helvetica Neue', sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;

}
.container {
    width: 960px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}
.header {
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav{
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section{
    background: #ebebeb;
    width: 495px;
    padding: 5px 30px 30px 30px;
    text-align: center;
    float: left;
    margin-top: 15px;
    height: 355px;
}

.aside{
    background: #ebebeb;
    text-align: center;
    margin: 15px 0px 0px 15px;
    float: left;    
    
   
    
}
.footer {
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-top: 15px
}

.article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    height: 300px;
    
}

h2,
p {
    color: #777;
    background: #ebebeb;
    padding: 33px;
    margin: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }